body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #4facfe, #00f2fe);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: background 0.5s ease;
}


.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(28, 121, 236, 0.353);
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1.5s ease;
}
